<!DOCTYPE html>
<html>
	<head>	
		<!--[if lt IE 9]>
			<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->			
		<meta charset="utf-8" />
		<meta name="langage" content="fr" />
		<meta name="robots" content="noindex, nofollow, noarchive" />								

		<!-- Titre de la page avec mots clés sous forme "nom de page - nom de domaine" de 10 à 70 caractères espaces compris -->	
		<title>Compétences - CV Stephane VEY</title>

		<!-- Description de la page avec mots clés entre 70 et 160 caractères espaces compris -->
		<meta name="description" content="Le train du numérique avance à grande vitesse, mieux vaut ne pas le rater ! Il est l’heure de bâtir une stratégie eMarketing, veille, conseils, formations,…" />

		<!-- Nom Prénom Signature commerciale -->
		<meta name="author" content="Stéphane VEY www.vbe-creation.com" />

		<!-- Utilisé par Yahoo et Bing 	-->
		<meta name="keywords" content="conseil,formation,formateur,developpeur,developpeur logiciel,bureau,etudes,conception,modelisation" />

		<!-- Appel de la feuille de style CSS-->
		<link rel="stylesheet" type="text/css" href="../ressources/css/style.css">

		<!-- Appel de la feuille de script JavaScript -->
     	<script type="text/javascript" src="../ressources/js/script.js"></script>
	</head>


	<body>
		<!-- ancre de retour en haut de page au clique sur la flèche -->
		<a name="haut" id="haut"></a>

		<!-- début entête -->
		<header>
			<a href="../ressources/img/stephane-vey-full.jpg" target="_blank" title="stephane vey" alt="stephane vey">
				<img src="../ressources/img/stephane-vey.jpg" alt="stephane vey" title="zoom Stephane VEY"/>
			</a>
			<div id="container-h1-nav">
				<h1>Stephane VEY</h1>
				<h2>Formateur / Consultant / Developpeur Logiciel</h2>
				<nav>
					<ul>
						<a href="../index.html"><li>Expériences</li></a>
						<a href="formations.html"><li>Formations</li></a>
						<a href="competences.html"><li>Compétences</li></a>
					</ul>
				</nav>
			</div>
		</header>

		<!-- début contenu -->
		<section>
			<article>
				<div class="date">
					<br></br>
					<p>Linguistiques</p>
					<br></br>
				</div>
				<div class="date-en-ligne"> <!-- affichage de la date sur 1 seul ligne en responsive -->
					<p>Linguistiques</p>
				</div>
				<div class="experience">
					<h3 class="h3-police-std">Anglais</h3>
					<p>lu, écrit, parlé</p>
	  				<p>Réalisation d'une mission de 8 semaine à GLASGOW</p>
				</div>
			</article>

			<article>
				<div class="date">
					<br></br>
					<br></br>
					<br></br>
					<br></br>
					<br></br>
					<p>Informatiques </p>
					<br></br>
					<br></br>
					<br></br>
					<br></br>
					<br></br>
					<br></br>
				</div>
				<div class="date-en-ligne"> <!-- affichage de la date sur 1 seul ligne en responsive -->
					<p>Informatiques</p>
				</div>
				<div class="experience">
					<h3 class="h3-police-std">Programmation</h3>
					<p>C++, PHP, SQL, Ruby, Ruby On Rails, JavaScript, Visual Basic, HTML, CSS</p>
					<h3 class="h3-police-std">CAO</h3>
					<p>3D Solidworks, Routing, Tubing, Tolerie, Mécano-Soudé, PDM</p> 
					<h3 class="h3-police-std">Bureautique</h3>
					<p>Word, Excel, Access, Power Point</p>
					<h3 class="h3-police-std">Infographie</h3>
					<p>Photoshop, Gimp, Inkscape</p>
					<h3 class="h3-police-std">Maquettage</h3>
					<p>Basalmiq</p>
					<h3 class="h3-police-std">Gestion de projet</h3>
					<p>Gantt Project</p>
				</div>
			</article>
			
			<article>
				<div class="date">
					<br></br>
					<br></br>
					<p>Divers</p>
					<br></br>
					<br></br>
					<br></br>
				</div>
				<div class="date-en-ligne"> <!-- affichage de la date sur 1 seul ligne en responsive -->
					<p>Divers</p>
				</div>
				<div class="experience">
					<h3 class="h3-police-std">Bâtiment - Bricolage</h3>
					<p>Construction de ma résidence principale en autonomie ou en équipe</p>    
 					<p>Gros oeuvre, fondation, maçonnerie, charpente, couverture, pose des fenêtres</p> 
  					<p>Second oeuvre, isolation, faux plafond, doublage, cloison, carrelage</p>
  					<p>Réseaux, assainissement, plomberie, chauffage, ventilation, électricité</p>
					<p>finition, peinture, aménagement des placards, pose de la cuisine</p>
				</div>
			</article>
		</section>

		<!-- insertion de la flèche scroll -->
		<div id="monImg">
			<img src="../ressources/img/imgFleche.png"/>
		</div>

		<!-- insertion de la flèche retour haut de page -->
		<div><a id="cRetour" class="cInvisible" href="#haut"></a></div>

		<!-- début pied de page -->
		<footer>
			<p>Dirigeant de VBE-CREATION</p>
			<p>Entrepreneur salarié auprès de ARCOOP</p>
			<p>
				<a href="mailto:svey@vbe-creation.com">
					<em>Contact : svey@vbe-creation.com</em>
				</a>
			</p>
		</footer>
	</body>
</html>