<!DOCTYPE html>
<html>
	<head>	
		<!--[if lt IE 9]>
			<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->			
		<meta charset="utf-8" />
		<meta name="langage" content="fr" />
		<meta name="robots" content="noindex, nofollow, noarchive" />								

		<!-- Titre de la page avec mots clés sous forme "nom de page - nom de domaine" de 10 à 70 caractères espaces compris -->	
		<title>Formations - CV Stephane VEY</title>

		<!-- Description de la page avec mots clés entre 70 et 160 caractères espaces compris -->
		<meta name="description" content="Le train du numérique avance à grande vitesse, mieux vaut ne pas le rater ! Il est l’heure de bâtir une stratégie eMarketing, veille, conseils, formations,…" />

		<!-- Nom Prénom Signature commerciale -->
		<meta name="author" content="Stéphane VEY www.vbe-creation.com" />

		<!-- Utilisé par Yahoo et Bing 	-->
		<meta name="keywords" content="conseil,formation,formateur,developpeur,developpeur logiciel,bureau,etudes,conception,modelisation" />

		<!-- Appel de la feuille de style CSS-->
		<link rel="stylesheet" type="text/css" href="../ressources/css/style.css">

		<!-- Appel de la feuille de script JavaScript -->
     	<script type="text/javascript" src="../ressources/js/script.js"></script>
	</head>


	<body onload="doWave(0)">
		<!-- ancre de retour en haut de page au clique sur la flèche -->
		<a name="haut" id="haut"></a>

		<!-- début entête -->
		<header>
			<a href="../ressources/img/stephane-vey-full.jpg" target="_blank" title="stephane vey" alt="stephane vey">
				<img src="../ressources/img/stephane-vey.jpg" alt="stephane vey" title="zoom Stephane VEY"/>
			</a>
			<div id="container-h1-nav">
				<h1>Stephane VEY</h1>
				<h2>Formateur / Consultant / Developpeur Logiciel</h2>
				<nav>
					<ul>
						<a href="../index.html"><li>Expériences</li></a>
						<a href="formations.html"><li>Formations</li></a>
						<a href="competences.html"><li>Compétences</li></a>
					</ul>
				</nav>
			</div>
		</header>

		<!-- début contenu -->
		<section>
			<article>
				<div class="date">
					<br></br>
					<p>2016</p>
					<br></br>	
				</div>
				<div class="date-en-ligne"> <!-- affichage de la date sur 1 seul ligne en responsive -->
					<p>2016</p>
				</div>
				<div class="experience">
					<h3>Certification Formateur</h3>
					<p>Habilis Formation</p>
					<h4>26600 BEAUMONT-MONTEUX</h4>
				</div>
			</article>

			<article>
				<div class="date">
					<br></br>
					<p>2015</p>
					<br></br>	
				</div>
				<div class="date-en-ligne"> <!-- affichage de la date sur 1 seul ligne en responsive -->
					<p>2015</p>
				</div>
				<div class="experience">
					<h3>Technicien Supérieur Développeur Logiciel</h3>
					<p>SimplonVE</p>
					<h4>07160 LE CHEYLARD</h4>
				</div>
			</article>

			<article>
				<div class="date">
					<br></br>
					<p>2010</p>
					<br></br>	
				</div>
				<div class="date-en-ligne"> <!-- affichage de la date sur 1 seul ligne en responsive -->
					<p>2010</p>
				</div>
				<div class="experience">
					<h3>Certification Technicien Méthodes Industrielles</h3>
					<p>TecForm</p>
					<h4>69480 MORANCE</h4>
				</div>
			</article>

			<article>
				<div class="date">
					<br></br>
					<p>2009</p>
					<br></br>	
				</div>
				<div class="date-en-ligne"> <!-- affichage de la date sur 1 seul ligne en responsive -->
					<p>2009</p>
				</div>
				<div class="experience">
					<h3>Formation Méthodes et Amélioration Continue</h3>
					<p>GEDAF</p>
					<h4>07130 SAINT-PERAY</h4>
				</div>
			</article>

			<article>
				<div class="date">
					<br></br>
					<p>2005</p>
					<br></br>	
				</div>
				<div class="date-en-ligne"> <!-- affichage de la date sur 1 seul ligne en responsive -->
					<p>2005</p>
				</div>
				<div class="experience">
					<h3>Technicien Supérieur en Automatique et Informatique Industrielle</h3>
					<p>AFPA</p>
					<h4>69200 VENISSIEUX</h4>
				</div>
			</article>

			<article>
				<div class="date">
					<br></br>
					<p>1996</p>
					<br></br>	
				</div>
				<div class="date-en-ligne"> <!-- affichage de la date sur 1 seul ligne en responsive -->
					<p>1996</p>
				</div>
				<div class="experience">
					<h3>BAC Equipement et Installation Industrielle</h3>
					<p>Lycée Marius BOUVIER</p>
					<h4>07300 TOURNON SUR RHONE</h4>
				</div>
			</article>
		</section>

		<!-- insertion de la flèche scroll -->
		<div id="monImg">
			<img src="../ressources/img/imgFleche.png"/>
		</div>

		<!-- insertion de la flèche retour haut de page -->
		<div><a id="cRetour" class="cInvisible" href="#haut"></a></div>

		<!-- début pied de page -->
		<footer>
			<p>Dirigeant de VBE-CREATION</p>
			<p>Entrepreneur salarié auprès de ARCOOP</p>
			<p>
				<a href="mailto:svey@vbe-creation.com">
					<em>Contact : svey@vbe-creation.com</em>
				</a>
			</p>
		</footer>

	</body>
</html>